#!/bin/bash

# 日志
export LOG_HOME="/tmp/zzxia-kvm-manage"

# KVM环境参数
export KVM_SSH_USER='root'
export KVM_SSH_PORT='22'
export KVM_XML_PATH='/etc/libvirt/qemu'                 #-- KVM虚拟XML配置文件路径（CENTOS下XML的默认路径，如果是UBUNTU，请修改）

# 新虚拟机默认参数，特殊值可以在【my_vm.list】中指定
export VM_DEFAULT_CLONE_TEMPLATE='m-centos-2c4g'            #-- 虚拟机默认克隆模板
export VM_DEFAULT_DISK_IMG_PATH='/var/lib/libvirt/images'   #-- 虚拟机磁盘文件默认存放路径
#
export VM_DEFAULT_DNS='192.168.11.3,192.168.11.4'      #-- 默认DNS，最多两个DNS服务器，中间用【,】分隔，不要有空格
export VM_DEFAULT_DOMAIN='zjlh.lan'                    #-- 默认域名


