### 虚拟机克隆清单.append.1
###
###   2【名称：NAME】= [自定义]
###     既是虚拟机名称，也是虚拟机主机名
###     此名称必须与【my_vm.list】中的【NAME】匹配
### 
###   3【IP地址：IP】= [自定义]
###     IP地址
### 
###   4【IP掩码：IP_MASK】= [自定义]
###     IP地址掩码，例如：24、16、8、12
### 
###   5【IP网关：IP_GATEWAY】= [自定义]
###     IP网关
### 
###   6【DNS：DNS】= < 自定义1 <,自定义2> >
###     可以定义0~2个，例如：1.1.1.1, 2.2.2.2，或者8.8.8.8
###     如果为空，则从默认值获取
### 
###   7【域名：DOMAIN】= <自定义>
###     虚拟机的域名
###     如果为空，则从默认值获取
### 
###
###     暂时不需要的行用'#'注释掉
###
###
#| NAME                   | IP              | IP_MASK | IP_GATEWAY      | DNS                   | DOMAIN         |
#| **名称**               | **IP地址**      | IP掩码  | **IP网关**      | **DNS**               | **域名**       |
#| ---------------------- | --------------- | ------- | --------------- | --------------------- | -------------- |
| v-192-168-11-190-deploy | 192.168.11.190  | 24      | 192.168.11.1    |                       |                |
| v-192-168-11-191-mast   | 192.168.11.191  | 24      | 192.168.11.1    |                       |                |
| v-192-168-11-192-node   | 192.168.11.192  | 24      | 192.168.11.1    | 8.8.8.8               | zj.lan         |
| v-192-168-11-193-node   | 192.168.11.193  | 24      | 192.168.11.1    | 1.1.1.1, 2.2.2.2      | hb.lan         |
| v-192-168-11-194-etcd   | 192.168.11.194  | 24      | 192.168.11.1    |                       |                |
| v-192-168-11-195-etcd   | 192.168.11.195  | 24      | 192.168.11.1    |                       |                |
| v-192-168-11-196-etcd   | 192.168.11.196  | 24      | 192.168.11.1    |                       |                |
| v-192-168-11-197-repo   | 192.168.11.197  | 24      | 192.168.11.1    |                       |                |

