### 虚拟机克隆清单
### 
###   2【名称：NAME】= [自定义]
###     既是虚拟机名称，也是虚拟机主机名
### 
###   3【CPU：CPU】= [自定义数量]
### 
###   4【内存：MEM】= [自定义数量]
###     单位是GB
### 
###   5【网卡：NIC】= [自定义]
###     KVM网卡名称
### 
###   6【物理宿主机：KVM_HOST】= [用户名@IP或主机名:ssh端口]
###     【用户名】、【IP或主机名】、【ssh端口】都可以省略
###     示例：【root@192.168.11.201:22】
###           【root@192.168.11.201】
###           【192.168.11.201:2222】
###           【192.168.11.201】
###           【】     #-- 这个代表全部取自默认
### 
###   7【克隆模板：CLONE_TEMPLATE】= [自定义]
###     必须是目标物理宿主机上面有的
###     如果为空，则从默认值获取
### 
###   8【磁盘IMG路径：IMG_PATH】= <自定义>
###     虚拟机KVM磁盘文件存放路径，例如：/disk2/images
###     如果为空，则从默认值获取
### 
###   9【备注：NOTE】= [ 自定义 ]
###     说明信息，可以为空
### 
###
###     暂时不需要的行用'#'注释掉
###
###
#| NAME                   | CPU  | MEM  | NIC  |  KVM_HOST               | CLONE_TEMPLATE          | DISK_IMG_PATH               | NOTE            |
#| **名称**               | CPU  | 内存 | 网卡 |  **物理宿主机**         | **克隆模板**            | **磁盘IMG路径**             | **备注**        |
#| ---------------------- | ---- | ---- | ---- | ----------------------- | ----------------------- | --------------------------- | --------------- |
| v-192-168-11-190-deploy | 1    | 2    | br1  | root@192.168.11.201:22  |                         |                             |                 |
| v-192-168-11-191-mast   | 4    | 8    | br1  | 192.168.11.201:2222     |                         |                             |                 |
| v-192-168-11-192-node   | 4    | 8    | br1  | root@192.168.11.202     | vm_1_temp               | /var/lib/libvirt/images22   |                 |
| v-192-168-11-193-node   | 4    | 8    | br1  | 192.168.11.202          |                         |                             |                 |
| v-192-168-11-194-etcd   | 2    | 4    | br1  |                         |                         |                             |                 |
| v-192-168-11-195-etcd   | 2    | 4    | br1  |                         |                         |                             |                 |
| v-192-168-11-196-etcd   | 2    | 4    | br1  |                         |                         |                             |                 |
| v-192-168-11-197-repo   | 2    | 4    | br1  | 127.0.0.1               |                         | /disk2/images               |                 |

